{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>Our Team</h1>
  <h3> Project Managers </h3>
  	<p>Shaan Appel</p>
  	<p>Stefan Palombo</p>  	
  	
  	<div class="container">
	  <h3> Project Members </h3>
	  <div class="row">
	    <div class="col-sm-6">
	      <p>Rishi Veerapaneni</p>
	      <p>Gefen Kohavi</p>
	    </div>
	    <div class="col-sm-6">
	      <p>Rohan Divate</p>
	      <p>Alvin Zhang</p>
	      <p>Phillip Kravtsov</p>
	      <p></p>
	    </div>
	  </div>
	</div>

</div>
{% endblock %}
